#navbar-toggle-cbox {
  display:none
}
#navbar-toggle-cbox:checked ~ .collapse {
    display: block;
}
#wrap {
    padding-top: 50px;
}
#zit2 {
  padding-bottom: 15px;
}

.voteSubmit {
  border-radius: 25px;
}

html, body {
  height: 100%;
  background-color: #111111;
}

nav {
    background: #202020;
    color: #bebebe;
}

.card {
    background: #202020;
    color: #bebebe;
}

#wrap {
  min-height: 88%;
}

#main {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}

.footer {
  position: relative;
  margin-top: -100px; /* negative value of footer height */
  height: 100px;
  clear:both;
  padding-top:20px;
}

.form-group {
    margin-left: 25%;
    margin-right: 25%;
}
